#exampleBurger {
  background-color: lightgrey;
  height: 500px;
  border: 1px solid black;
}

#playerBurger {
  background-color: lightgrey;
  height: 500px;
  border: 1px solid black;
}

#order {
  background-color: lightblue;
}

#playerBaseBun, #egBaseBun {
  /* background-color: orange; */
  background-image: url("images/burgerbase.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#bunCap {
  background-color: orange;
}

.bunCap {
  background-image: url("images/burgerbun.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#blackOverlay {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  margin : 0px;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  margin : 0px;
  opacity: 0;
  z-index: 10;
  transition: 1.5s;
}

.win-btn {
  height: 60px;
  width: 150px;
  display: block;
  z-index: 12;
}

.win-btn:hover {
  transition: 0.5s;
  border-radius: 10px;
  opacity: 0.8;
}

.ingredient-btn {
  height: 65px;
  opacity: 1;
}

.ingredient-btn:hover {
  opacity: 0.8;
  transition: 0.5s;
  border-radius: 10px;
}

.burger {
  height: 40px;
}

.spacer {
  margin-bottom: 20px;
  margin-top: 10px;
}
